.background {
  color: black !important;
  background: cyan top;
  height: 50px;
  padding-top: 1px;
}

.header {
}

.radioLabel {
  margin-right: 10px;
}

.radioInput {
  margin-right: 10px;
}

.verticalLine {
  border-left: thick solid #ff0000;
}