.background {
  color: black !important;
  background: #ff6653 top;
  height: 50px;
  padding: 10px;
}

.radioLabel {
  margin-right: 10px;
}

.radioInput {
  margin-right: 10px;
}

.verticalLine {
  border-left: thick solid #ff0000;
}